<div class="social-network-nav">
  <div class="menu-container">
    <ul>
      <li>
        <a routerLink="following" routerLinkActive="active">
          <i class="fas fa-user-friends"></i> Following
        </a>
      </li>
      <li>
        <a routerLink="trends" routerLinkActive="active">
          <i class="fas fa-chart-line"></i> Trending
        </a>
      </li>
      <li>
        <a routerLink="nearby" routerLinkActive="active">
          <i class="fas fa-map-marker-alt"></i> Nearby
        </a>
      </li>
      <li>
        <a routerLink="chat" routerLinkActive="active">
          <i class="fas fa-comments"></i> Chat
        </a>
      </li>
      <li>
        <a routerLink="profile" routerLinkActive="active">
          <i class="fas fa-user"></i> Profile
        </a>
      </li>
      <li>
        <a routerLink="post" routerLinkActive="active">
          <i class=" fas fa-post"></i> New Post
        </a>
      </li>
      <li>
        <a routerLink="posts" routerLinkActive="active">
          <i class=" fas fa-posts"></i> Posts
        </a>
      </li>
    </ul>
  </div>
</div>
   
<router-outlet></router-outlet>


