<div class="social-network-nav">
  <div class="menu-container">
    <ul>
      <li>
        <!--Dodaj za autentifikaciju kod -->
        <a routerLink="/following">
          <i class="fas fa-user-friends"></i> Following
        </a>
      </li>
      <li>
        <a routerLink="/trends">
          <i class="fas fa-chart-line"></i> Trending
        </a>
      </li>
      <li>
        <a routerLink="/nearby">
          <i class="fas fa-map-marker-alt"></i> Nearby
        </a>
      </li>
      <li>
        <a routerLink="/chat">
          <i class="fas fa-comments"></i> Chat
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <i class="fas fa-user"></i> Profile
        </a>
      </li>
    </ul>
  </div>
</div>
